# Ignore build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak

# Ignore data
data/
outputs/
figures/
mlruns/
temp/

# Ignore personal settings
.env
*.env
*.log

# Ignore git-related
.git/
.gitignore
